@import '~normalize.css';
@import 'roboto.css';

body {
    font-family: 'Roboto', 'sans-serif';
}
.content {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.logo {
    background: url("../assets/webpack-logo.webp") no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.code {
    color: rgb(238, 42, 7);
}